* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    height: 20vh;
    width: 80vw;
    font-size: 3.5rem;
    padding-top: 0.5rem;
    padding-left: 4.5rem;
    color: white;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
}

nav > a > h2 {
    display: inline;
    padding-right: 2rem;
    font-family: 'Oceanwide', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.3rem;
}

.button-container {
    display: inline-block;
}

.button-container a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.button-container a button {
    border: none;
    background: none;
    padding: 1.4rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

.button-container a :hover {
    cursor: pointer;
}

/* Contact Page */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 40px auto;
}

.contact-info {
    flex: 1;
    padding-right: 40px;
}

.contact-info h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 40px;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-info ul li i {
    font-size: 24px;
    margin-right: 10px;
}

.contact-info ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info ul li a:hover {
    color: #ccc;
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form input,
.contact-form form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.contact-form form textarea {
    height: 150px;
    resize: none;
}

.contact-form form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form form button:hover {
    background-color: #ccc;
}
