* {
    padding: 0%;
    margin: 0%;
    font-size: 62.5%;
}


.whiteTop {
    background-color: white;
    height: 3.5rem;
}

.whiteTop>h2 {
    font-size: 1.5rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.8rem;
}

.mainInfo {
    height: 95.2vh;

    background-image: url("../img/vinyl-disk-image.jpg");
}

nav {
    height: 20vh;
    width: 80vw;
    font-size: 3.5rem;
    padding-top: 0.5rem;
    padding-left: 4.5rem;

    color: white;

}

nav>h2 {
    display: inline;
    padding-right: 2rem;


    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.button-container {
    display: inline-block;

}

.button-container a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}



.button-container a button {
    border: none;
    background: none;
    padding: 1.4rem 1.5rem;

    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;

    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

.button-container a :hover {
    cursor: pointer;
}

.slogunLandingpage {
    font-weight: 600;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;

    padding: 4.35rem;
    padding-top: 25rem;
    padding-left: 8rem;
}

.slogunLandingpage>div {
    font-style: italic;
    font-size: 2rem;
}

.aanbiedingenScherm {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 35rem;
}

.aanbiedingenScherm>.aanbiedingenSchermleft {
    max-width: 50%;
    max-height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aanbiedingenScherm>.aanbiedingenSchermleft>img {
    max-width: 45%;
    max-height: 45%;
    transition: transform 0.3s ease;
    padding-top: 1rem;
}


.aanbiedingenScherm>.aanbiedingenSchermleft>img:hover {
    transform: scale(1.03);
}

.aanbiedingenScherm>.aanbiedingenSchermright>h2,
h3 {
    max-width: 50%;
    max-height: 80rem;
    font-size: 5rem;
    padding: 2.5rem;


    font-family: sans-serif;
    font-style: bold;
    font-weight: 400;
}

.aanbiedingenScherm>.aanbiedingenSchermright>h3 {
    max-width: 50%;
    max-height: 80rem;
    font-size: 2rem;
    font-weight: 200;
}

.aanbiedingenScherm>.aanbiedingenSchermright>h4 {
    max-height: 80rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2.5rem;
    display: inline-block;
    vertical-align: middle;
}

.aanbiedingenScherm>.aanbiedingenSchermright>button {
    width: 20vw;
    height: 10vh;
    margin-left: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    border: none;
    border-radius: 2rem;
    background-color: rgb(41, 150, 41);
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}


.aanbiedingenScherm>.aanbiedingenSchermright>button:hover {
    transform: scale(1.05);
    background-color: rgb(33, 130, 33);
}

.homepageStack {
    height: 60rem;
    background-color: rgb(168, 168, 168);
}


.picturesHomepageStack {
    display: flex;
    justify-content: space-evenly;
}


.saleCardQueen {
    width: 25vw;
    height: 65vh;

    margin-top: 4%;
    border-radius: 1rem;
    transition: transform 0.3s;

    background-image: url("../img/records/blur/newsoftheworld-queenblur.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.8);
}

.saleCardInhaler {
    width: 25vw;
    height: 65vh;

    margin-top: 4%;
    border-radius: 1rem;
    transition: transform 0.3s;

    background-image: url("../img/records/blur/cutsandbruises-inhalerblur.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.8);
}



.saleCardTyler {
    width: 25vw;
    height: 65vh;

    margin-top: 4%;
    border-radius: 1rem;
    transition: transform 0.3s;

    background-image: url("../img/records/blur/flowerboy-tylerthecreatorblur.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.8);
}


.saleText>h3 {
    font-size: 4rem;
    position: absolute;
    right: 1rem;
    bottom: -1rem;
    font-family: 'Montserrat', sans-serif;
}
.saleCard:hover,
.saleCardQueen:hover,
.saleCardInhaler:hover,
.saleCardTyler:hover {
    transform: scale(1.01);
}



.saleText{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 1.5rem;

}
.salePic{
    max-width: 35vw;
    max-height: 48vh;

    display: flex;
    justify-content: center;
    
    padding-left: 1.5rem;
    padding-top: 2rem;

}

.saleText {
    background: radial-gradient(circle, rgba(42,42,42,1) 40%, rgba(0,0,0,1) 100%);
    height: 15vh;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.saleText > h2{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.saleButton {
    width: 12vw;
    height: 8vh;


    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;

    margin-top: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: rgb(41, 150, 41);
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


footer {
    height: 30rem;
    background-color: rgb(0, 0, 0);
    padding: 2.4rem;
    padding-top: 5rem;
}



.footerContainer {
    display: flex;
    max-height: 80rem;
    /* Ensures the container does not exceed 80rem in height */
}

.footerLeft,
.footerRight {
    flex: 1;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    /* Ensures padding and border are included in the element's total width and height */
}

.newsLetterFooter {
    color: white;
    letter-spacing: 0.1rem;
    font-size: 2rem;

    font-family: 'Montserrat', sans-serif;
}


.newsLetterPfooter {
    color: white;
    font-weight: 400;
    font-size: 1.4rem;

    font-family: 'Montserrat', sans-serif;
}


.footerForm {
    color: white;
    font-weight: 400;
    font-size: 3rem;

    font-family: 'Montserrat', sans-serif;
}


.footerForm input[type="radio"] {
    appearance: none;
    background-color: rgb(47, 47, 47);
    border: 0.1rem solid rgb(47, 47, 47);
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    position: relative;
    margin-right: 0.8rem;
    transition: border 0.3s;
}

.footerForm input[type="radio"]::before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 0.8rem;
    ;
    height: 0.8rem;
    margin: 3.3px;
    transition: background-color 0.3s;
}

.footerForm input[type="radio"]:checked::before {
    background-color: white;
}

.footerForm input[type="radio"]:hover {
    border: 0.1rem solid white;
}


.footerForm input[type="text"] {
    background-color: rgb(47, 47, 47);
    border: none;
    border-radius: 2.5rem;
    padding: 0rem 0rem 0rem 1.6rem;
    width: 36.6rem;
    height: 4.4rem;
    margin: 1rem 0;
    box-sizing: border-box;

    color: rgb(255, 255, 255);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}


.footerForm input[type="submit"] {
    background-color: rgb(47, 47, 47);
    color: white;
    border: none;
    border-radius: 2.5rem;
    padding: 1rem;
    cursor: pointer;
}

.footerForm .genderSel {
    font-size: 2rem;
    padding-right: 1rem;
}

.footerForm input[type="submit"]:hover {
    background-color: #333;
}

.footerRight {
    display: flex;
}

.footerRight>li {
    width: 50%;
}

.footerRight>li>h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

.footerLink {
    color: white;
    background: none;
    border: none;
    cursor: pointer;

    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.6rem;

}

.footerLinkLong {
    color: white;
    background: none;
    border: none;
    cursor: pointer;

    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.6rem;

}

button:hover {
    cursor: pointer;
}

.footerBottom {
    height: 6rem;


    outline: white;
    background-color: black;
    border-top: 0.1rem solid rgb(66, 66, 66);

}

.footerBottom {
    display: flex;
}

.footerBottom>.footerBottomLeft {
    height: 5.8vh;
    width: 70%;


}

.footerBottom>.footerBottomRight {
    height: 5.8vh;
    width: 30%;

    color: white;
    text-align: left;

    font-size: 2rem;
    color: #8b8b8b;
    margin-top: 1.8rem;
    width: 50vw;
}

.footerWaypoint,
.footerLanguage {
    color: #8b8b8b;
    background: none;
    border: none;
    cursor: pointer;

    font-size: 1.5rem;
    padding-right: 2rem;

    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

.footerWaypoint:hover,
.footerLanguage:hover {
    color: #cecece;

}

.location-icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(86deg) brightness(119%) contrast(119%);
}

.england-icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem;
    vertical-align: middle;

}

